# Question 1 Part 2
- For each borough, find out distribution of each collision scale. (One car involved? Two? Three? or more?) (From 2015 to present)

In [1]:
import pandas as pd
from pandas import DataFrame
import sys, os, datetime

In [2]:
#Read in data
dataPath = os.getcwd()+'/Data/vehicle_collisions.csv'
df = pd.read_csv(dataPath)

In [57]:
#Fill NaN data in 'BOROUGH' and create list of boroughs
df['BOROUGH'].fillna('UNRECORDED',inplace=True)
bos = df['BOROUGH'].unique()

In [63]:
#Create dataFrame of vehicle count in collisions for each borough
holder = []
for each in bos:
    boro = df[df['BOROUGH'] == each] #pull borough specific data
    veh = boro.loc[:,'VEHICLE 1 TYPE':'VEHICLE 5 TYPE'] #pull only vehicle-type data
    veh['NUM'] = veh.count(axis=1) #count number of non-empty cells in each row, gives num vehicles in collision
    vals = veh['NUM'].value_counts() #get count for each unique NUM
    #append information to holder list
    holder.append((each, vals[1], vals[2], vals[3], (vals[4]+vals[5])))

#create dataFrame from holder list
collisions = DataFrame(holder, columns=('BOROUGH', 
                                            'ONE_VEHICLE_INVOLVED', 
                                            'TWO_VEHICLES_INVOLVED', 
                                            'THREE_VEHICLES_INVOLVED',
                                            'MORE_VEHICLES_INVOLVED')).sort_values(by='BOROUGH').reset_index(drop=True)
collisions.head()

,BOROUGH,ONE_VEHICLE_INVOLVED,TWO_VEHICLES_INVOLVED,THREE_VEHICLES_INVOLVED,MORE_VEHICLES_INVOLVED
0,BRONX,8627,34385,1962,625
1,BROOKLYN,17375,80207,4980,1612
2,MANHATTAN,13318,66958,2024,501
3,QUEENS,12962,70260,4498,1420
4,STATEN ISLAND,2343,10676,759,165

In [64]:
#write to csv file
collisions.to_csv('Q1_Part_2.csv',index=False,header=True)

In [58]:
cols = ['BOROUGH'] + list(df.loc[:,'VEHICLE 1 TYPE':'VEHICLE 5 TYPE'])
vehicles = df[cols]
vehicles.head()
#vehicles.count(axis=1)
#vehicles.head()
#df.loc[:,'VEHICLE 1 TYPE':'VEHICLE 5 TYPE'].sum(axis=1)

,BOROUGH,VEHICLE 1 TYPE,VEHICLE 2 TYPE,VEHICLE 3 TYPE,VEHICLE 4 TYPE,VEHICLE 5 TYPE
0,QUEENS,SPORT UTILITY/STATION WAGON,NaN,NaN,NaN,NaN
1,UNRECORDED,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
2,BROOKLYN,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
3,BROOKLYN,BUS,PASSENGER VEHICLE,NaN,NaN,NaN
4,UNRECORDED,UNKNOWN,PASSENGER VEHICLE,NaN,NaN,NaN