# Question 2 Part 1

In [112]:
import pandas as pd
from pandas import DataFrame
import sys, os

In [113]:
#Read in data
dataPath = os.getcwd()+'/Data/employee_compensation.csv'
df = pd.read_csv(dataPath)

In [114]:
df = df[df['Year Type'] == 'Calendar']
cols = ['Job Family'] + list(df.loc[:,'Employee Identifier':'Total Compensation'])
sals = df[cols]
avg_sals = sals.groupby('Employee Identifier').mean()
avg_sals.head()

,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
Employee Identifier,,,,,,,,,
1,40334.303333,0.00,29.673333,40363.976667,8415.146667,8626.160,3172.630,20213.936667,60577.913333
2,11061.700000,0.00,0.000000,11061.700000,2058.580000,1768.100,853.530,4680.210000,15741.910000
3,13722.000000,964.83,0.000000,14686.830000,2498.760000,2870.730,1181.230,6550.720000,21237.550000
4,18574.880000,0.00,210.000000,18784.880000,1463.340000,4829.960,1448.095,7741.395000,26526.275000
5,19525.227500,0.00,5.177500,19530.405000,0.000000,1341.605,1543.940,2885.545000,22415.950000

In [115]:
#People whos overtime is greater than 5% of their salary
greater = avg_sals[avg_sals['Overtime'] > (avg_sals['Salaries']*0.05)]
greater.head()

,Salaries,Overtime,Other Salaries,Total Salary,Retirement,Health/Dental,Other Benefits,Total Benefits,Total Compensation
Employee Identifier,,,,,,,,,
3,13722.0000,964.8300,0.0000,14686.8300,2498.7600,2870.7300,1181.2300,6550.7200,21237.5500
6,133842.7700,33892.2000,19926.6450,187661.6150,29394.5325,15933.0600,3103.6650,48431.2575,236092.8725
8,52510.0800,4106.9325,1248.6300,57865.6425,13885.2775,10584.3025,4354.0175,28823.5975,86689.2400
18,70408.0950,27338.1125,2081.7575,99827.9650,19194.0400,14304.2000,7545.3750,41043.6150,140871.5800
20,56586.1325,5763.4150,882.4150,63231.9625,13241.0575,12437.5775,4823.9875,30502.6225,93734.5850

In [116]:
zoo = ['Employee Identifier'] + ['Job Family']
job = df[zoo]
job.head()

   Employee Identifier                     Job Family
0                52206               Journeyman Trade
2                33958                     Management
3                33073                  Legal & Court
5                23930  Clerical, Secretarial & Steno
7                38054            Public Service Aide

In [117]:
jobs = job.drop_duplicates('Employee Identifier').set_index('Employee Identifier')

In [118]:
fin_sal = pd.merge(greater, jobs, left_index=True, right_index=True)
fin_sal['Percentage Ben/Comp'] = (fin_sal['Total Benefits']/fin_sal['Total Compensation'])*100
coo = list(fin_sal.loc[:,'Total Benefits':'Percentage Ben/Comp'])
final = fin_sal[coo]
holder = final.groupby('Job Family').mean()
holder.head()

,Total Benefits,Total Compensation,Percentage Ben/Comp
Job Family,,,
Administrative-DPW/PUC,37692.466000,145259.268000,25.948407
Administrative-Labor & Trades,39364.382183,172979.362595,22.526500
Agriculture & Horticulture,28419.285835,96108.633016,29.594277
Airport Operation,33012.042389,119663.435896,27.737130
"Budget, Admn & Stats Analysis",20103.658042,68828.604215,29.772765

In [119]:
#write to csv file
holder.to_csv('Q2_Part_2.csv',index=False,header=True)