# Question 3

In [36]:
import pandas as pd
from pandas import DataFrame
import sys, os

In [37]:
#Read in data
dataPath = os.getcwd()+'/Data/cricket_matches.csv'
df = pd.read_csv(dataPath)

In [38]:
df.head()

,match_details,result,scores,date,venue,round,home,away,winner,win_by_runs,...,innings1_wickets,innings1_overs_batted,innings1_overs,innings2,innings2_runs,innings2_wickets,innings2_overs_batted,innings2_overs,D/L_method,target
0,North Group:Durham v Nottinghamshire at Cheste...,Durham won by 6 wickets (with 5 balls remaining),Nottinghamshire 157/7 (20/20 ov); Durham 160/4...,13/06/2003,Chester-le-Street,North Group,Durham,Nottinghamshire,Durham,NaN,...,7.0,20.0,20.0,Durham,160.0,4.0,19.1,20.0,NaN,NaN
1,South Group:Hampshire v Sussex at Southampton-...,Hampshire won by 5 runs,Hampshire 153 (19.4/20 ov); Sussex 148/7 (20/2...,13/06/2003,Southampton,South Group,Hampshire,Sussex,Hampshire,5.0,...,10.0,19.4,20.0,Sussex,148.0,7.0,20.0,20.0,NaN,NaN
2,Midlands/Wales/West Group:Somerset v Warwicksh...,Warwickshire won by 19 runs,Warwickshire 188/7 (20/20 ov); Somerset 169 (2...,13/06/2003,Taunton,Midlands/Wales/West Group,Somerset,Warwickshire,Warwickshire,19.0,...,7.0,20.0,20.0,Somerset,169.0,10.0,20.0,20.0,NaN,NaN
3,South Group:Surrey v Middlesex at The Oval- Ju...,Surrey won by 4 wickets (with 4 balls remaining),Middlesex 155 (20/20 ov); Surrey 158/6 (19.2/2...,13/06/2003,The Oval,South Group,Surrey,Middlesex,Surrey,NaN,...,10.0,20.0,20.0,Surrey,158.0,6.0,19.2,20.0,NaN,NaN
4,Midlands/Wales/West Group:Worcestershire v Nor...,Worcestershire won by 1 wicket (with 2 balls r...,Northamptonshire 150/9 (20/20 ov); Worcestersh...,13/06/2003,Worcester,Midlands/Wales/West Group,Worcestershire,Northamptonshire,Worcestershire,NaN,...,9.0,20.0,20.0,Worcestershire,151.0,9.0,19.4,20.0,NaN,NaN

In [70]:
winners = df[df['home'] == df['winner']]

In [71]:
win1 = winners[['home'] + ['innings1'] + ['innings1_runs']]
win1.columns = ['home','innings1','Score']
win1 = win1[win1['innings1'] == win1['home']]

win2 = winners[['home'] + ['innings2'] + ['innings2_runs']]
win2.columns = ['home','innings2','Score']
win2 = win2[win2['innings2'] == win2['home']]

In [74]:
homeWinners = win1.append(win2)
homeWinners.head(100)
output = homeWinners.groupby('home').mean()
output.head()

                         Score
home
Abahani Limited     172.000000
Abbottabad Falcons  139.454545
Abbottabad Region   182.666667
Abbottabad Rhinos   165.000000
Adelaide Strikers   163.111111

In [75]:
#write to csv file
output.to_csv('Q3_Part_1.csv',index=False,header=True)